.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.instagram-link {
    margin-left: 5px;
}

.bottom-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bottom-navigation {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 450px) {
    .socials {
        font-size: 20px;
    }

    .bottom-navigation {
        font-size: 12px;
    }
}